.login-button{
  display: flex;
  justify-content: end;
  margin: 10px;
}

.logo{
  display:flex;
  justify-content: center;
}

.menu-list{
  display: flex;
  list-style-type: none;
  
}
.menu-list li{
  padding: 10px;
}

.menu-area{
  display: flex;
  justify-content: center;
  position: relative;
  
}

.search{
  border: none;
  border-bottom: 1px solid grey;
  
}

.search-area{
  position: absolute;
  right:0; 
}