.box{
  border: 1px solid black;
  width: 500px;
}

.item-img{
  width: 400px;
}

.main{
  display: flex;
  justify-content: center;
}

.win {  border: 10px solid green;  color: green; }
.lose {  border: 10px solid red;  color: red; }
.tie {  border: 10px solid black;  color: black; }

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 90vw;
    height: 400px;
  }
}